<div class="container">
  <div class="row">
    <div class="col s12 offset-s3">
      <img class="logoImg" src="assets/images/Calendar App Logo.png" alt="">
    </div>
  </div>
  <div class="row">
    <form >
      <div class="col s12">
        <div class="login input-field">
          <i ng-class="{'activeInput':userNameHasFocus==true,'inactive':userNameHasFocus==false}" class="material-icons prefix inactive"><img src="assets/images/icons/user.png" alt=""></i>
          <input ng-init="userNameHasFocus=false" ng-focus="userNameHasFocus = true" ng-blur="userNameHasFocus = false" id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Username</label>
        </div>
        <div class="login input-field">
          <i ng-class="{'activeInput':passwordHasFocus==true,'inactive':passwordHasFocus==false}" class="material-icons prefix inactive"><img src="assets/images/icons/padlock.png" alt=""></i>
          <input ng-init="passwordHasFocus=false" ng-focus="passwordHasFocus = true" ng-blur="passwordHasFocus = false" id="icon_telephone" type="password" class="validate">
          <label for="icon_telephone">Password</label>
        </div>
        <br>
        <button id="loginButton" ng-click="signIn()" class="main-button loginButton">Sign In</button>
      </div>
    </form>
    <div class="col s12">
      <p class="footer-text">Don't have an account? <a class="orange-text" href="">Sign up</a></p>
    </div>
  </div>

</div>
