input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #FF7600;
  box-shadow: 0 1px 0 0 #FF7600;
}
input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #9e9e9e;
}

.input-field .prefix {
    position: absolute;
    width: 3rem;
    font-size: 2rem;
    bottom: 15px;
    transition: color .2s;
}
img.logoImg {
    margin-top: 25px;
}
.active{
  border-bottom: 1px solid #FF7600;
  box-shadow: 0 1px 0 0 #FF7600;
}
.inactive{
    border-bottom: 1px solid #9e9e9e;
}
.input-field {
    position: relative;
    margin-top: 2rem;
}
.redText{
  color: #DD8B65;
}
.hidden{
  display: none;
}
button.loginButton {
    background: #EA9801;
    width: 280px;
    height: 50px;
    border-radius: 20px;
    color: white;
    border: none;
    position: relative;
}
p.footer-text {
    position: relative;
    text-align: center;
}
.calHead {
    background: #DC7B20;
    color: white;
    height: 150px;
}
.calAction {
    background: #DC7B20;
    color: white;
    position: relative;
    padding-bottom: 10px;
    bottom: 87px;
    border-top: 1px solid #B57500;
    padding-top: 11px;
}
.calActionFixed {
    background: #DC7B20;
    color: white;
    position: fixed;
    padding-bottom: 10px;
    width: 100%;
    top: 0;
    bottom: inherit;
    border-top: 1px solid #B57500;
    padding-top: 11px;
    z-index: 99;
}


h1.center-align.date {
    font-size: 6.3rem;
    position: relative;
    bottom: 10vh;
}
img.leftIconLabel.valign.left-align {
    padding-right: 5px;
}
img.leftIconLabel {
    padding-right: 5px;
}
p.eventTitle.ng-binding {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
}
.row.eventBody {
    position: relative;
    bottom: 25px;
    font-size: 0.9rem;
    margin-bottom: 0;
}
.row.eventHead {
    margin-bottom: 0;
}
.col.s12.eventFooter {
    border-bottom: 1px solid rgba(128, 128, 128, 0.21);
    padding-bottom: 0;
}
.col.s6.pull-s1 {
    padding-right: 0;
}

/* Animations */
.card {
  width: 260px;
  height: 350px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 50px auto;
  position: relative;
  overflow: hidden;
}

.card .main {
  width: 100%;
  height: 70%;
  background-color: #97f4ff;
  z-index: 1;
}

.card .loginButton {
  width: 50px;
  height: 50px;
  background-color: #ffe375;
  position: absolute;
  z-index: 99;
  right: 20px;
  top: calc(70% - 25px);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transform: scale3d(1, 1, 1);
  transition: 0.6s cubic-bezier(0.65, -0.4, 0.49, 1.4);
  transition-delay: .2s;
}


.loginButton.expand {
  cursor: default;
  transform: scale3d(13, 13, 1);
  /*transition: 0.6s cubic-bezier(0.65, -0.68, 0.49, 1.94);*/
  transition: 0.6s cubic-bezier(0.65, -0.68, 0.49, 1.94);
  transition-delay: .1s;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.loginButton:focus {
    outline: none;
    background-color: #EA9801;
}

.spin {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
